<%-include('../partials/admin-header')%>
<link rel="stylesheet" href="css/internship-details(admin).css">

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
    <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto" style="margin-top:50px;">
                    <div class="MainCard">
                        <div class="row spacing">
                            <div class="col-md-3">
                                <span class="Heading">EDUCATION</span>
                            </div>
                            <div class="col-md-9">
                                Bachelor of Engineering (B.E), Information Technology <br>
                                Dwarkadas Jivanlal Sanghvi College of Engineering
                            </div>
                        </div>
                        <div class="row spacing">
                            <div class="col-md-3">
                                <span class="Heading">SKILLS</span>
                            </div>
                            <div class="col-md-3">
                                JavaScript <br>
                                Intermediate
                            </div>
                            <div class="col-md-3">
                                HTML <br>
                                Intermediate
                            </div>
                        </div>
                        <div class="row" style="text-align: center">
                            <center>
                                <button type="button" class="btn btn-success">ACCEPT</button>
                                <button type="button" class="btn btn-danger">REJECT</button>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%-include('../partials/footer')%>
<script>
    function details(input) {
        document.getElementById("job" + input.id).submit();
    }
</script>
