<link rel="stylesheet" href='/css/footer.css'>
<footer class="footer-distributed">
  <div class="footer-left">
    <h3>OYE
      <h3>
        <span> Organisation for Youth And Elderly</span>
      </h3>
    </h3>
    <p class="footer-links">
      <a href="http://www.oyeindia.org">Home</a>·
      <a href="http://www.oyeindia.org">About</a>·
      <a href="http://www.oyeindia.org">Faq</a>·
      <a href="http://www.oyeindia.org">Contact</a>
    </p>
    <p class="footer-company-name">OYE &copy; 2012</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>OYE Headquarters,Sahakar Nagar,JP Road,Andheri West</span>Mumbai,Maharashtra 400053,IN</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 9920132153</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="http://www.oyeindia.org">contact@oye.org</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      OYE, as an NGO, stands out due its peculiarities & exquisite uniqueness that includes an additional effort of involving the massive youth population into its activities.
    </p>
    <div class="footer-icons">
      <a href="https://www.facebook.com/Oye.org"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/oyeindia/"><i class="fa fa-instagram"></i></a>
      <a href="https://in.linkedin.com/company/oye-organization-for-youth-elderly?trk=public_profile_topcard_current_company"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</footer>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="/assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="/assets/js/plugins/jasny-bootstrap.min.js" type="text/javascript"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/material-kit.js?v=2.2.0" type="text/javascript"></script>

<script>
  $(document).ready(function() {
    //init DateTimePickers
    materialKit.initFormExtendedDatetimepickers();

    // Sliders Init
    materialKit.initSliders();
  });
</script>
<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a href="#buttons" data-number="1">
        <span class="cd-dot"></span>
        <span class="cd-label">Basic Elements</span>
      </a>
    </li>
    <li>
      <a href="#navigation" data-number="2">
        <span class="cd-dot"></span>
        <span class="cd-label">Navigation</span>
      </a>
    </li>
    <li>
      <a href="#notifications" data-number="3">
        <span class="cd-dot"></span>
        <span class="cd-label">Notifications</span>
      </a>
    </li>
    <li>
      <a href="#footers" data-number="4">
        <span class="cd-dot"></span>
        <span class="cd-label">Footers</span>
      </a>
    </li>
    <li>
      <a href="#typography" data-number="5">
        <span class="cd-dot"></span>
        <span class="cd-label">Typography</span>
      </a>
    </li>
    <li>
      <a href="#contentAreas" data-number="6">
        <span class="cd-dot"></span>
        <span class="cd-label">Content Areas</span>
      </a>
    </li>
    <li>
      <a href="#cards" data-number="7">
        <span class="cd-dot"></span>
        <span class="cd-label">Cards</span>
      </a>
    </li>
    <li>
      <a href="#morphingCards" data-number="8">
        <span class="cd-dot"></span>
        <span class="cd-label">Morphing Cards</span>
      </a>
    </li>
    <li>
      <a href="#javascriptComponents" data-number="9">
        <span class="cd-dot"></span>
        <span class="cd-label">Javascript</span>
      </a>
    </li>
  </ul>
</nav>
</body>

</html>
