<%-include('partials/header')%>


<%# <link rel="stylesheet" type="text/css" href="css/profile.css"> %>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="assets/css/material-kit.css" rel="stylesheet" />


<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
    <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="ml-auto mr-auto">
                    <div class="card card-signup">
                        <%# <h2 class="card-title text-center">Title</h2> %>
                        <div class="card-body">
                            <div class="jumbotron" style="background-color: white; padding-top:10px; padding-bottom:10px; margin-bottom: 0">
                                <center>
                                    <h1 class="display-4" style="text-align: center;">Thank You!</h1><br>
                                    <p class="lead">You've successfully applied for the internship, you will notified of the results very soon.</p>
                                    <hr class="my-4"><br>
                                    <p>Keep exploring for many such internships and keep learning!</p>
                                    <p class="lead" style="text-align: center">
                                        <a class="btn btn-info" href="/" role="button">Home Page</a>
                                    </p>
                                </center>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</body>
<%-include('partials/footer')%>
