<%-include('partials/header')%>

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto">
          <div class="card card-signup">
            <div class="card-body">
              <div class="jumbotron" style="background-color: white; padding-top:10px; padding-bottom:10px; margin-bottom: 0">
                <center>
                  <h1 class="display-4" style="text-align: center;">Thank You!</h1><br>
                  <p class="lead">You've successfully applied for the
                    <%if (job.jobtype=='Internship'){%>internship, you will notified of the results very soon.</p>
                  <%} else if (job.jobtype=='Job'){%>job, you will notified of the results very soon.</p>
                  <%} else {%>course,you can contact the course link from your courses section.</p>
                  <%}%>
                  <hr class="my-4"><br>
                  <p>Keep exploring for many such
                  <%if (job.jobtype=='Internship'){%>internships and keep learning!</p>
                  <%} else if (job.jobtype=='Job'){%>jobs!</p>
                  <%} else {%>
                  <%}%>
                  <p class="lead" style="text-align: center">
                    <a class="btn btn-info" href="/" role="button">Home Page</a>
                  </p>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%-include('partials/footer')%>
