<%-include('partials/header')%>

<head>
  <title>Signup</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="assets/css/material-kit.css" rel="stylesheet" />

  <style media="screen">
    .Card1 {
      border-radius: 6px;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      background-color: white;
      color: black;
      margin-bottom: 100px;
      padding: 20px 10px;
    }
  </style>

</head>

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto" style="margin-top:50px;">
          <div class="Card1">
            <div class="" style="padding:70px">
              <center><img src="/main/Online-registration-update.svg" width="700px" alt=""></center>
            </div>


            <h2 style="text-align:center"> Learn new-age skills on the go </h2>

            <div class="row">
              <div class="column ml-auto" style="margin-right:80px">
                <div class="card" style="padding: 25px 135px;">
                  <center>
                    <a href="/jobs_in_Delhi"><img src="/main/home-img/advanced_excel.svg" width="100px" alt="" class="clip-circle"></a>
                    <h5> Advanced Excel </h5>
                    <a href="/jobs_in_Delhi"><img src="/main/home-img/autocad.svg" width="100px" alt="" class="clip-circle"></a>
                    <h5> Autocad </h5>
                    <a href="/jobs_in_Bangalore"><img src="/main/home-img/creative_writing.svg" width="100px" alt="" class="clip-circle"></a>
                    <h5> Creative Writing </h5>
                    <a href="/jobs_in_Mumbai"><img src="/main/home-img/digital_marketing.svg" width="100px" alt="" class="clip-circle"></a>
                    <h5> Digital Marketing </h5>
                  </center>
                </div>
              </div>

              <div class="column mr-auto" style="margin-left:80px">
                <div class="card" style="padding: 25px 100px;">
                  <center>
                    <a href="/jobs_in_Bangalore"><img src="/main/home-img/ethical_hacking.svg" width="100px" alt="" class="clip-circle"></a>
                    <h5> Ethical Hacking </h5>
                    <a href="/jobs_in_Chennai"><img src="/main/home-img/machine_learning.svg" width="100px" alt="" class="clip-circle"></a>
                    <h5> Machine Learning </h5>
                    <a href="/jobs_in_Bangalore"><img src="/main/home-img/programming_with_python.svg" width="100px" alt="" class="clip-circle"></a>
                    <h5> Programming with Python </h5>
                    <a href="/jobs_in_Bangalore"><img src="/main/home-img/web_development.svg" width="100px" alt="" class="clip-circle"></a>
                    <h5> Web Development </h5>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%-include('partials/footer')%>
