<br>
<br>
<form action="passwordreset" method="POST">
  <input type="email" name="email" value="" placeholder="Enter your email address..." /><br>
  <br>
  <input type="submit" value="Reset Password" /><br>
</form>
