
<%-include('partials/header')%>

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto">
          <div class="card card-signup">
            <div class="card-body">
                <h3 style="padding: 70px">Mail sent successfully!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%-include('partials/footer')%>
