<%-include('partials/header')%>

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup">
            <div class="row text-center">
              <div class="col-sm-4 ">
                <div style='margin-top:8%'>
                  <img src="main/std-profile/Sign_up_icon.svg" width="30%" height="30%">
                  <h4> SIGN UP </h4>
                  <h5 style="font-size: 15px;color:darkgray">Get started by creating your account</h5>
                </div>

              </div>
              <div class="col-sm-4 ">
                <!-- <div class="signup-text-center"> -->
                <!-- style="margin-left:25%" -->
                <img src="main/std-profile/Apply.svg" width="35%" height="45%">
                <div class="icon-text" style="padding-top: 12px">
                  <h4> APPLY </h4>
                  <h5 style="font-size: 15px;color:darkgray">Apply for internships, Jobs and Volunteering Services as per interest and location</h5>
                </div>
                <!-- </div> -->
              </div>
              <div class="col-sm-4 ">
                <!-- <div class="signup-text-center"> -->
                <!-- style="margin-left:50%" -->
                <div style='margin-top:8%'>
                  <img src="main/std-profile/Get-hired1.svg" width="30%" height="30%" style="padding-bottom: 5px">
                  <div class="icon-text">
                    <h4> GET HIRED </h4>
                    <h5 style="font-size: 15px;color:darkgray "> Kickstart your career! </h5>
                  </div>
                </div>
                <!-- </div> -->
              </div>

            </div>
            <h2 class="card-title text-center">Register</h2>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <img src="main/std-profile/std-sign.svg" class="img-responsive" style="float:left; padding-bottom:100px; margin-top: 10%;" width="90%" height="90%">
                </div>
                <div class="col-md-5 mr-auto">
                  <div class="social text-center">
                    <a href="/auth/github"><button class="btn btn-just-icon btn-round btn-github">
                        <i class="fa fa-github"></i>
                      </button></a>
                    <a href="/auth/google"><button class="btn btn-just-icon btn-round btn-google">
                        <i class="fa fa-google"></i>
                      </button></a>
                    <a href="/auth/facebook"><button class="btn btn-just-icon btn-round btn-facebook">
                        <i class="fa fa-facebook"> </i>
                      </button></a>
                    <a href="/auth/linkedin"><button class="btn btn-just-icon btn-round btn-linkedin">
                        <i class="fa fa-linkedin"> </i>
                      </button></a>
                    <h4> or be classical </h4>
                  </div>
                  <% if (message.length > 0) { %>
                  <div class="alert alert-danger"><%= message %></div>
                  <% } %>
                  <form class="form" method="POST" action="/signup-stud">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input required name="fname" type="text" class="form-control" placeholder="First Name...">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input required name='lname' type="text" class="form-control" placeholder="Last Name...">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input required name='username' type="text" class="form-control" placeholder="Username...">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <input required name='email' type="email" class="form-control" placeholder="Email...">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <input required name='college_name' type="text" class="form-control" placeholder="College Name...">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <textarea required name='skills' type="text" class="form-control" placeholder="Basic Skills..." rows="4" id="exampleInputTextarea"></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <span class="material-icons">
                              location_city
                            </span>
                          </span>
                        </div>
                        <input required name='city' type="text" class="form-control" placeholder="City...">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input required name='password' type="password" placeholder="Password..." class="form-control" />
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input required type="password" placeholder="Password Confirmation..." class="form-control" />
                      </div>
                    </div>
                    <!-- <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                        I agree to the <a href="#something">terms and conditions</a>.
                      </label>
                    </div> -->
                    <div class="text-center">
                      <button type='submit' class="btn btn-info btn-round">Get Started</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%-include('partials/footer')%>
