
<%-include('partials/header')%>
<link rel="stylesheet" href="css/internship-details(admin).css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="assets/css/material-kit.css" rel="stylesheet" />
<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
    <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto" style="margin-top:50px;">
                    <div class="MainCard">
                      <div class="row spacing">
                        <div class="col-md-3">
                            <span class="Heading">Name</span>
                        </div>
                        <div class="col-md-9">
                            Vivek Vinze
                        </div>
                    </div>
                    <div class="row spacing">
                      <div class="col-md-3">
                          <span class="Heading">College</span>
                      </div>
                      <div class="col-md-9">

                          Dwarkadas Jivanlal Sanghvi College of Engineering
                      </div>
                  </div>

                  <div class="row spacing">
                    <div class="col-md-3">
                        <span class="Heading">City</span>
                    </div>
                    <div class="col-md-9">
                        Mumbai
                    </div>
                </div>
                <div class="row spacing">
                  <div class="col-md-3">
                      <span class="Heading">SKILLS</span>
                  </div>
                  <div class="col-md-3">
                      JavaScript <br>
                      Intermediate
                  </div>
                  <div class="col-md-3">
                      HTML <br>
                      Intermediate
                  </div>
              </div>
              <div class="row spacing">
                <div class="col-md-3">
                    <span class="Heading">APPLIED ON</span>
                </div>
                <div class="col-md-9">
                    23 DEC 2019
                </div>
            </div>
                <div class="row spacing">
                  <div class="col-md-3">
                      <span class="Heading">QUESTION 1</span>
                  </div>
                  <div class="col-md-9">
                      GOOD
                  </div>
              </div>
              <div class="row spacing">
                <div class="col-md-3">
                    <span class="Heading">QUESTION 2</span>
                </div>
                <div class="col-md-9">
                    BGOOD
                </div>
            </div>
            <div class="row spacing">
              <div class="col-md-3">
                  <span class="Heading">QUESTION 3</span>
              </div>
              <div class="col-md-9">
                  GOOD
              </div>
          </div>



                        <div class="row" style="text-align: center;
                                                padding-left:40%">
                            <center>
                                <button type="button" class="btn btn-success">ACCEPT</button>
                                <button type="button" class="btn btn-danger">REJECT</button>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%-include('partials/footer')%>
