<br>
<br>
<form action="verify/verifyMail" method="POST">
  <label for="">You need to verify your Email-address</label>
  <input type="hidden" name="email" value="<%= user.Email %>" />
  <br>
  <input type="submit" value="Verify mail" /><br>
</form>
